<%= form_tag merchant_coupon_path, id: "form-edit-coupon", class: "form-inline", method: :patch do %>
  <div class="form-group">
    <%= label_tag :code %>
    <div class="col-md-4">
      <%= text_field_tag :code, "#{@coupon.code}", id: "coupon-code", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :name %>
    <div class="col-md-4">
      <%= text_field_tag :name, "#{@coupon.name}", id: "coupon-name", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :discount %>
    <div class="col-md-4">
      <%= select_tag :name, options_for_select([['5%',5],['10%',10],['25%',25],['50%',50],['75%',75],['100%',100]], @coupon.discount), name: 'discount', id: "coupon-discount", class: "form-control" %>
    </div>
  </div>
  <div class="form-inline">
    <%= submit_tag 'Save Coupon', class: "btn btn-primary" %>
  </div>
<% end %>
