<hr>
<%= link_to 'My Items', '/merchant/items' %>
<%= link_to 'My Coupons', '/merchant/coupons', class: 'tab-space' %>
<hr><br>
<h2><%= link_to @merchant.name %></h2>
<p><%= @merchant.address %></p>
<p><%= @merchant.city %> <%= @merchant.state %> <%= @merchant.zip %></p>
<br>
<hr>
<br>
<h4>My Orders:</h4>
<br>
<section class="orders">
  <table class="table">
    <th>Order Number</th>
    <th>Potential Revenue</th>
    <th>Quantity of Items</th>
    <th>Date Created</th>
    <% @merchant.pending_orders.each do |order| %>
      <tr id="order-<%= order.id %>">
        <td><%= link_to order.id, "/merchant/orders/#{order.id}" %></td>
        <td id="potential-revenue"><%= number_to_currency(order.merchant_subtotal(@merchant.id)) %></td>
        <td><%= order.merchant_quantity(@merchant.id) %></td>
        <td><%= order.created_at %></td>
      </tr>
    <% end %>
  </table>
</section>
