<h3>My Cart</h3>
<br>
<% if cart.items.empty? %>
  <p>Your Cart is Empty!</p>
<% else %>
<table class="table">
  <th></th>
  <th>Name</th>
  <th>Description</th>
  <th>Sold By</th>
  <th>Qty</th>
  <th>Price</th>
  <th>Subtotal</th>
  <th>Coupon</th>
  <th>Discount</th>
  <th>Discounted<br>Subtoal</th>
  <th>Change<br>Qty</th>
  <th></th>
  <% cart.items.each do |item| %>
    <tr id='item-<%= item.id%>'>
      <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaLM_vbg2Rh-mZ-B4t-RSU9AmSfEEq_SN9xPP_qrA2I6Ftq_D9Qw" class="cart_img"></td>
      <td><%= link_to item.name, "/items/#{item.id}" %></td>
      <td><%= item.description %></td>
      <td><%= link_to item.merchant.name, "/merchants/#{item.merchant_id}" %> (Inventory: <%= item.inventory %>)</td>
      <td><%= cart.count_of(item.id) %></td>
      <td><%= number_to_currency(item.price / 100) %></td>
      <td><%= number_to_currency(cart.subtotal_of(item.id)) %></td>
      <td>[coupon]</td>
      <td>[discount]</td>
      <td>[discounted subtotal]</td>
      <td><div class="btn-toolbar">
        <%= button_to '+', "/cart/more/#{item.id}", class: "btn btn-success btn-sm mx-2", method: :patch unless cart.limit_reached?(item.id) %>
        <%= button_to '-', "/cart/less/#{item.id}", class: "btn btn-danger btn-sm", method: :patch %>
      </div></td>
      <td><%= button_to 'Remove', "/cart/#{item.id}", class: "btn btn-danger btn-sm", method: :delete %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="3"></td>
    <td><b>Totals</b></td>
    <td><%= cart.count %></td>
    <td></td>
    <td><%= number_to_currency(cart.grand_total) %></td>
    <td></td>
    <td>[discount]</td>
    <td>[discounted subtotal]</td>
    <td colspan="2"></td>
  </tr>
</table>

<%= form_tag "/coupon" do %>
<%= text_field_tag :code, nil, class: "form-control form-control-sm" %>
<%= submit_tag 'Add Coupon', class: "btn btn-info btn-sm" %>
<% end %>

<% if cart.coupons %>
  <h5>My Coupons</h5>
  <table class="table">
    <th>Id</th><th>Code</th><th>Name</th><th>Discount</th><th>Merchant</th><th></th><th></th>
      <% cart.coupons.each do |coupon_code,coupon_details| %>
        <tr>
          <td><%= coupon_details['id'] %></td>
          <td><%= coupon_code %></td>
          <td><%= coupon_details['name'] %></td>
          <td><%= coupon_details['discount'] %></td>
          <td><%= coupon_details['merchant_name'] %></td>
          <td><%= button_to 'Apply', "/coupon/#{coupon_details['id']}", class: "btn btn-success btn-sm", method: :patch %></td>
          <td><%= button_to 'Remove', "/coupon/#{coupon_details['id']}", class: "btn btn-danger btn-sm", method: :delete %></td>
        </tr>
      <% end %>
<% else %>
  <h5>No Coupons Loaded</h5>
<% end %>

<div class="btn-toolbar">
  <section id='checkout'>
      <% if current_user %>
        <%= button_to 'Check Out & Place Order', '/orders', class: "btn btn-success mx-4" %>
      <% else %>
        <p>You must <%= link_to 'register', registration_path %> or <%= link_to 'log in', login_path %> to checkout.</p>
      <% end %>
  </section>
  <%= button_to 'Empty Cart', '/cart', class: "btn btn-danger", method: :delete %>
</div>
<% end %>
