<table class="table">
  <th>Order Number</th>
  <th>Created</th>
  <th>Updated</th>
  <th>Status</th><th>Qty</th>
  <th>Total</th>
  <tr>
    <td><%= @order.id %></td>
    <td><%= @order.created_at.strftime('%F') %></td>
    <td><%= @order.updated_at.strftime('%F') %></td>
    <td><%= @order.status %></td>
    <td><%= @order.count_of_items %></td>
    <td><%= number_to_currency(@order.grand_total) %></td>
  </tr>
  <tr><td colspan="6"> </td></tr>
  <tr>
    <td colspan="3"></td><td>Coupon Code:</td><td>FS4FS</td><td></td>
  </tr>
  <tr>
    <td colspan="3"></td><td>Discount</td><td>25%</td><td>-$556.43</td>
  </tr>
  <tr>
    <td colspan="3"></td><td colspan="2"><b>Discounted Total</b></td><td><b><%= number_to_currency(@order.grand_total - 556.43) %></b></td>
  </tr>
</table>
<br>
<h5>Items on Order</h5>
<br>
<table class="table">
  <th>Name</th>
  <th>Description</th>
  <th>Qty</th>
  <th>Price</th>
  <th>Subtotal</th>
  <th>Coupon Code</th>
  <th>Discount</th>
  <th>Discounted Subtotal</th>
  <% @order.order_items.each do |order_item| %>
    <tr id='order-item-<%= order_item.id %>'>
      <td><%= link_to order_item.item.name, item_path(order_item.item) %></td>
      <td><%= order_item.item.description %></td>
      <td><%= order_item.quantity %></td>
      <td><%= number_to_currency(order_item.price / 100) %></td>
      <td colspan="2"><%= number_to_currency(order_item.subtotal) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4"></td>
    <td>[total]</td>
    <td></td>
    <td><%= number_to_currency(556.43) %></td>
    <td><%= number_to_currency(@order.grand_total - 556.43) %></td>
  </tr>
</table>
<br>
<%= button_to 'Cancel Order', "/profile/orders/#{@order.id}", class: "btn btn-danger", method: :delete if @order.pending? %>
